{% extends "base.html" %}
{% block title %}MSX{% endblock %}
{% block contenido %}
<div class="l-row l-spaced-horizontal l-spaced-top">
  <!-- ENTRADAS RECIENTES -->
  <div class="l-box l-col-md-12 l-spaced-bottom">
    <div class="l-box-header">
      <h2 class="l-box-title"><span>MSX</span></h2>
    </div>
    <div class="l-box-body l-spaced">
      <h2>JUEGOS MSX</h2>
      <a href="/juegos"><img src="{{url_for('static', filename = 'img/msx.png')}}"></a>
    </div>
  </div>
  <!-- FIN ENTRADAS RECIENTES -->
</div>
{% endblock %}

