{% extends "base.html" %}
{% block title %}MSX{% endblock %}
{% block contenido %}
  <div class="l-row l-spaced-horizontal l-spaced-top">
    <!-- ENTRADAS RECIENTES -->
    <div class="l-box l-col-md-12 l-spaced-bottom">
      <div class="l-box-header">
        <h2 class="l-box-title"><span>MSX</span></h2>
      </div>
      <div class="l-box-body l-spaced">
        <h2>JUEGOS MSX</h2>
        <div class="l-box-body l-spaced">
          <!-- FORMULARIO -->
          <form class="form-horizontal" method="POST" action="/listajuegos">

            <div class="form-group">
              <label for="basicText" class="col-sm-2 control-label">Buscador</label>
              <div class="col-sm-8">
                <input id="basicText" name="juego" type="text" placeholder="Buscador ..." class="form-control">
                <small>Escriba el nombre del juego.</small>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-dark">Guardar</button>
              </div>
            </div>
            
          </form>
          <!-- FIN FORMULARIO -->
        </div>
  

      </div>
    </div>
    <!-- FIN ENTRADAS RECIENTES -->
  </div>
{% endblock %}